@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected {
	color: #10b981 !important;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected::after {
	border-bottom-color: #10b981 !important;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-item:hover::after {
	border-bottom-color: #10b981 !important;
}
